.header {
  padding: var(--medium-padding);
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  position: sticky;
  background: white;
  top: 0px;
  z-index: 1;
}
.button {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
}
