.header {
  padding: 10px;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  position: sticky;
  background: white;
  top: 0px;
}
.button {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
}