.birds {
  margin: 0;
  padding: 0;
}

.birds li {
  display: flex;
  margin-bottom: 10px;
  list-style-type: none;
  align-items: center;
}

.birds img.observed {
  border-radius: 9999px;
  border: 5px solid green;
}

.birds li a {
  padding-left: 10px;
}